*{
    margin: auto;
   
    box-sizing: border-box;

}


nav{
  padding: 0;
 background-color:gray;
margin: 0;
height: 100px;
}

header nav div{
float: left;
padding-left: 250px;
/* padding-top: 10px; */
padding-bottom: 10px;

}

nav ul{
    clear: both;
   position: absolute;
   margin-left:450px;
}

nav ul li {
    position: relative;
    line-height: 59px;
    display: inline-block;
padding-left: 30px;
padding-top: 10px;
}
nav ul li a{
    text-decoration: none;
  padding-left: 10px;
  color:black;
}

section img {

    display: block;
    padding-top: 40px;
    padding-left: 250px;
  
}

div{
    display: inline-block; 
     width: 20.5%; 
    padding:10px;
    
}

nav div img{
    padding-left: 20px;
    padding-top: 5px;
    float: left;
}
article{
  display: table; 
  clear: both; 
}

article img{
    float: left;
    margin-top: 30px;
    padding-left: 250px;
    margin-bottom: 30px;
}
section div{
    position: relative;
    text-align: center;
    
    margin-top: 30px;
    float: left;
    margin-left: 10px;
}

footer {
    clear: both;
    background-color:  #444444;
    height: 100px;
    margin-top: 30px;
}


p{
    overflow: scroll;
    position: relative;
    float: right;
}
